{% extends 'dealer/dashboard_dealer.html' %}
{%  block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table width="800" height="307" border="1">
    <tr>
      <th width="68" scope="col">#</th>
      <th width="119" scope="col" required>user Name</th>
      <th width="123" scope="col" required>complaint</th>
      <th width="155" scope="col" required>complaint date</th>
      <th width="171" scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
     <td>{{ loop.index }}</td>
      <td>{{ i['user_name'] }}</td>
      <td>{{ i['complaint'] }}</td>
      <td>{{ i['comp_date'] }}&nbsp;</td>
      <td></td>
      <td><a href="replay/{{ i['comp_id'] }}">Replay</a></td>
    </tr>
      {% endfor %}
    <tr>
     
  </table>
</form>
</body>
</html>
{% endblock %}
