{% extends 'dealer/dashboard_dealer.html' %}
{%  block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table class="table table-bordered">
    <tr>
      <th  scope="col">#</th>
      <th  scope="col">Product Name</th>
      <th  scope="col">Product quantity</th>
      <th  scope="col">Price</th>
        <th  scope="col">Image</th>
      <th  scope="col">Category</th>
      <th  scope="col">Freshness</th>
      <th  scope="col">Details</th>
    </tr>
      {% for i in data %}
    <tr>
      <td height="84">{{ loop.index}}</td>

      <td>{{ i['prod_name'] }}</td>
      <td>{{ i['prod_quantity'] }}</td>
      <td>{{ i['price'] }}</td>

        <td><img src="{{ i['image'] }}" width="100" height="100"/> </td>
        <td>&nbsp;{{ i['category'] }}</td>
        <td>&nbsp;{{ i['fresh'] }}</td>
        <td>&nbsp;{{ i['details'] }}</td>
      <td><p><a href="/product_update/{{ i['product_id'] }}" class="btn btn-primary">update</a></p>
      <p><a href="product_delete/{{ i['product_id'] }}" class="btn btn-danger">Delete</a></p></td>
    <td><a href="/addstock/{{ i['product_id'] }}" class="btn btn-success">Add Stock</a> </td>
    </tr>
    {% endfor %}
   
  </table>
</form>
</body>
</html>
{% endblock %}
