{% extends 'dealer/dashboard_dealer.html' %}
{%  block body %}
<form action="/product_add" method="post" enctype="multipart/form-data">
  <table class="table table-bordered">
    <tr>
      <td >Product Name</td>
      <td ><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
      <td>Product Category</td>
      <td><label for="select"></label>
        <select name="select" id="select" class="form-control" >
        <option value="0">select one</option>
        <option value="Electronics">electronics</option>
        <option value="Dresses">Dresses</option>
        <option value="Jwellery">jwellery</option>
        <option value="Cosmetics">cosmetics</option>
      </select></td>
    </tr>
    <tr>
      <td height="116">Product Freshness</td>
      <td><p>
        <label>
<input type="radio" name="RadioGroup1" value="Branded New" id="RadioGroup1_0" />
Branded New</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Second Hand" id="RadioGroup1_1" />
          Second Hand</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Refurbished" id="RadioGroup1_2" />
          Refurbished</label>
        <br />
      </p></td>
    </tr>
      <tr>
      <td width="335">quantity</td>
      <td width="385"><label for="textfield"></label>
      <input type="numbert" name="textfield10" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
        <td>Image of Product</td>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" required class="form-control"/></td>
    </tr>
    <tr>
      <td height="149">Additional description</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required class="form-control"></textarea></td>
    </tr>
    <tr>
      <td>Product Price</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required required class="form-control"/></td>
    </tr>
   
    <tr>
      <td height="31" colspan="2">
      <input type="submit" name="button" id="button" value="Add product" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
