{% extends 'dealer/dashboard_dealer.html' %}
{%  block body %}
<form action="/replay/{{ data['comp_id'] }}" method="post">
  <table class="table table-bordered">
    <tr>
        <td>Reply<input type="hidden" name="c_id" value="{{ data['comp_id'] }}"></td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required class="form-control"></textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}