{% extends 'dealer/dashboard_dealer.html' %}
{%  block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <th scope="col">Stock</th>
    </tr>
      {% for i in pdct %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['prod_name'] }}<br>
          <img src="{{ i['image'] }}" height="100px" width="100px">
      </td>
      <td>&nbsp;{{ i['stock_quantity'] }}</td>
    <td><a href="/update_stock/{{ i['stock_id'] }}" class="btn btn-primary">Update</a> </td>
    </tr>
{% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
