{% extends 'user/dashboard_user.html' %}
{%  block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/card_update/{{ data['card_id'] }}" method="post" enctype="multipart/form-data">
  <table class="table table-bordered">
    <tr>
      <td  width="222">CARD NUMBER</td>
      <td width="494"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data['card_number']  }}"  class="form-control" required /></td>
    </tr>
    <tr>
      <td >CVV</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data['cvv']  }}"  class="form-control" required/></td>
    </tr>
    <tr>
      <td >Expiry Date</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data['expiry_date']  }}" placeholder="MM/YY"  class="form-control" required /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="Update" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}