{% extends 'user/dashboard_user.html' %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table width="200" border="1">
    <tr>
      <th scope="col"><a href="/view_product">view product</a></th>
    </tr>
    <tr>
      <td><a href="/view_cart">View Cart</a></td>
    </tr>
    <tr>
      <td><a href="/bookings">Bookings</a></td>
    </tr>
    <tr>
      <td><a href="/card_details">Card Details</a></td>
    </tr>
    <tr>
      <td><a href="/transaction">Transaction</a></td>
    </tr>
      <tr>
      <td><a href="/user_feedback">Feedback</a></td>
    </tr>
      <tr>
      <td><a href="/user_complaint">Complaint</a></td>
    </tr>

  </table>
</form>
</body>
</html>
