{% extends 'user/dashboard_user.html' %}
{%  block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
<!--      <th  scope="col" required>user Name</th>-->
      <th  scope="col" required>complaint</th>
      <th  scope="col" required>complaint date</th>
      <th  scope="col">Reply</th>
    </tr>
      {% for i in data %}
    <tr>
     <td>{{ loop.index }}</td>
<!--      <td>{{ i['user_name'] }}</td>-->
      <td>{{ i['complaint'] }}</td>
      <td>{{ i['comp_date'] }}&nbsp;</td>

      <td>
<!--          {% if i['replay']=='pending' %}-->
<!--          <a href="/replay/{{ i['comp_id'] }}" class="btn btn-primary">Replay</a>-->
<!--          {% else %}-->
          {{ i['replay'] }}<br>
          {{ i['rep_date'] }}
<!--          {% endif %}-->
      </td>
    </tr>
      {% endfor %}
    <tr>
     
  </table>
</form>
</body>
</html>
{% endblock %}
